.title_wrap {
  width: 1100px;
  margin: 50px auto 0;
}

.title {
  text-align: center;
  width: 65%;
}

.title img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  filter: invert(68%) sepia(46%) saturate(2268%) hue-rotate(359deg)
    brightness(107%) contrast(100%);
}

.title h1 {
  font-size: 40px;
  font-weight: 900;
}

.title h2 {
  font-size: 24px;
  color: #ffb103;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  width: 1100px;
  margin: 30px auto;
}

.content section:first-child {
  display: block;
  width: 65%;
}

.default_image {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-size: 18%;
  background-position: center;
  background-repeat: repeat;
  filter: invert(80%);
}

.content_image {
  text-align: center;
}

.content_image img {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  object-fit: contain;
}

.hidden {
  display: none;
}

.content table {
  width: calc(100% + 20px);
  transform: translate(-10px);
  margin-top: 30px;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.content tr {
  height: 50px;
}

.content th {
  min-width: 100px;
  padding: 0 20px;
  text-align: left;
  border: 1px solid rgba(216, 216, 216, 0.7);
  border-radius: 5px;
  background-color: #ffb103;
  color: white;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}

.content td {
  padding: 10px 20px;
  border: 1px solid rgba(216, 216, 216, 0.7);
  border-radius: 5px;
  word-break: keep-all;
  background-color: white;
}

.content section:nth-child(2) {
  display: block;
  width: 30%;
  height: auto;
  border: 1px solid rgba(216, 216, 216, 0.7);
  border-radius: 5px;
}

.recommend {
  padding: 25px 50px;
}

.recommend:first-child {
  padding-top: 50px;
}

.recommend:last-child {
  padding-bottom: 50px;
}

.recommend img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.recommend .default {
  background-color: #13a8cf;
  filter: invert(90%);
  object-fit: contain;
}

.recommend p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  border-radius: 50%;
}
